# fly.toml app configuration file generated for go-file-server-5513 on 2025-11-10T11:40:19+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'go-file-server-5513'
primary_region = 'nrt'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[mounts]]
  source = "uploaded_files"
  destination = "/uploads"

[build]
  builder = "paketobuildpacks/builder:base"